ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
    height: auto;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: grey thin solid;
    background: orange;
    box-shadow:  20px 20px 60px #0b350e,
                -20px -20px 60px #0f4712;
}

.img{
    width: 250px;
    height: 300px;
    margin: 20px 0 20px 0;
}

.info p{
    color: black;
}